*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Secular One', sans-serif;
    --color-principal: #ededed;
    --color-de-botones: #da9feb;
    --color-secundario: #8ab8f4;
    --color-terciario:  #9093f9;
    --color-de-texto-principal: #454045;
    --color-de-texto-secundario: #ffff;  
    --color-de-transicion: #ce89d2;
}

header{
    margin: auto;
    width: auto;
    height: 75px;
    background-color: var(--color-principal);
    font-weight: bold;
    box-shadow: -4px 2px 34px -13px  var(--color-terciario);
    z-index: 10;
    position: sticky;
    top: 0;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.navegation-buttons{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.navegation-buttons li{
    border-radius: 20px;
    margin-right: 50px;
    cursor: pointer
}

.navegation-buttons li a{
    line-height: 35px;
    padding: 20px;
    text-decoration: none;
}

.boton-contacto{
    background-color: var(--color-de-botones);
    color: var(--color-principal);
}

.boton-contacto:hover{
    background-color: var(--color-de-transicion);
    color: var(--color-principal);
}

.enlaces-header{
    color: var(--color-de-texto-principal);
}

.enlaces-header:hover{
    color: var(--color-de-botones);
}

.enlace-contacto{
    color: var(--color-principal);
}

li:active{
    box-shadow: -2px 0px 10px 0px  var(--color-de-transicion);
}

main{
    margin: 0;
    background-color: var(--color-principal);
    color: var(--color-de-texto-principal);
}

section {
    padding: 140px 0px;
}


.container-presentacion{
    display: flex;
    flex-direction: row;
}

.informacion{
    margin: 150px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    line-height: 45px;
    font-size: 20px;

}

.nombre{
    font-size: 50px;
    background: linear-gradient(45deg, var(--color-de-transicion), var(--color-terciario));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.gustos{
    font-size: 15px ;
    color: var(--color-de-texto-principal); 
    font-weight: lighter;
    
}

.boton-inicial{
    width: 150px;
    height: 45px;
    border-radius: 25px ;
    color: var(--color-principal);
    border: 1px solid var(--color-de-botones);
    background-color: var(--color-de-botones);
    cursor: pointer;
}
.boton-inicial a{
    text-decoration: none;
    color: var(--color-principal);
}


.boton-inicial:hover{
    background-color: var(--color-de-transicion)
}

.boton-inicial:active{
    box-shadow: -2px 0px 10px 0px  var(--color-de-transicion);
}

.imagen-personal{
    height: 330px;
    width: 330px;
    margin: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    border-radius: 500px;
    box-shadow: 28px 22px 75px -14px rgb(172, 170, 170) ;
}

.container-de-habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.titulo{
    font-size: 40px;
}

.texto{
    margin-top: 20px;
    font-size: 15px;
    width: 40ch;
}

.conocimientos-columna-uno{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.conocimientos-columna-dos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.figuras-skills{
    outline: 1px solid rgb(214, 212, 212);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    width: 250px;
    height: 250px;
}

.figuras-skills:hover{
    outline-color: 3px var(--color-terciario);
    color: var(--color-terciario);
}

.nombres-skills{
    font-size: 20px;
}

/*revisar este color*/
.contenedor-articulo{
    background: var(--color-secundario);
    height: 545px;
    color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    text-align: center;
    padding: 100px 0px;  
}

.frase{
    width: 55ch;
    font-size: 20px;  
}

.autor-de-la-frase{
    font-size: 25px;
}

.contenedor-de-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mis-proyectos{
    font-size: 45px;
}

.parrafo-descriptivo{
    font-size: 15px;
    width: 40ch;
}

.columna-de-proyectos-uno{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.columna-de-proyectos-dos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.columna-de-proyectos-tres{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

.imagenes-de-proyectos{
    outline: 1px solid rgb(214, 212, 212);
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    width: 340px;
    height: 200px;
}

.nombre-de-los-proyectos{
    font-size: 15px;
}

.contacto-principal{
    display: flex;
    flex-direction: row;
    margin: 100px;
    gap: 100px;
    padding: 70px 70px;
    outline: 1px solid rgb(200, 195, 195);
    border-radius: 20px;
    height: 600px;
}

.redes-de-contacto{
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.seccion-contacto-titulo{
    font-size: 45px;
    
}

.lista-iconos-redes{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
    cursor: pointer;
}

.iconos-de-contacto:hover{
    background-color: #9093f9;
    height: 30px;
    width: 40px;
    border-radius: 50px;    
    display: flex;
    justify-content: start;
}

.nombre-de-redes{
    
}




