*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: 'Secular One', sans-serif;
    --rosa-pastel: #eacff2;
    --lila:  #9093f9;
    --color-de-texto-principal: #454045;
    --color-de-texto-secundario: #a286aa;
    --blanco: #ffff;  
    --rosa: #da9feb;
    --rosa-oscuro: #ce89d2;
    --color-de-fondo: #efdcf4;
    --color--de-fondo-main: #ddcff7;
    --color-bordes: #eacff2;
    --color-fondo-input: #f5e7f9;
    --color-focus: #ead7ef;
    --verde: #95e0a9;
    --rojo: #fa8282;
    --fucsia: #f471f0
}

/* Sección header */

header{
    margin: auto;
    width: auto;
    height: 75px;
    background-color: var(--color-de-fondo);
    font-weight: bold;
    box-shadow: -4px 2px 34px -13px  var(--lila);
    z-index: 10;
    position: sticky;
    top: 0;
}

body{
    width: 100vw;
}

main{
    width: 100%;
}

nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.navegation-buttons{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.navegation-buttons li{
    border-radius: 20px;
    margin-right: 50px;
    cursor: pointer
}

.navegation-buttons li:active{
    box-shadow: 0 0 3px 3px  var(--rosa);
}

.navegation-buttons li a{
    line-height: 35px;
    padding: 20px;
    text-decoration: none;
}

.boton-contacto{
    background-color: var(--rosa);
    color: var(--blanco);
}

.boton-contacto:hover{
    background-color: var(--rosa-oscuro);
    color: var(--blanco);
}

.enlaces-header{
    color: var(--color-de-texto-principal);
}

.enlaces-header:hover{
    color: var(--rosa);
}

.enlace-contacto{
    color: var(--blanco);
}

/* Fin sección header */

main{
    margin: 0;
    background-color: var(--color--de-fondo-main);
    color: var(--color-de-texto-principal);
}

section {
    padding: 70px 0px;
}

/* Sección presentación */
.container-presentacion{
    display: flex;
    flex-direction: row;
}

.informacion{
    margin: 150px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    line-height: 45px;
    font-size: 20px;

}

.nombre{
    font-size: 50px;
    background: linear-gradient(45deg, var(--rosa-oscuro), var(--lila));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.gustos{
    font-size: 15px ;
    color: var(--color-de-texto-principal); 
    font-weight: lighter;
    
}

.boton-inicial{
    width: 150px;
    height: 45px;
    border-radius: 25px ;
    color: var(--blanco);
    border: 1px solid var(--rosa);
    background-color: var(--rosa);
    cursor: pointer;
}

.boton-inicial a{
    text-decoration: none;
    color: var(--blanco);
}

.boton-inicial:hover{
    background-color: var( --rosa-oscuro);
    border: 1px solid var(--rosa-oscuro)
}

.boton-inicial:active{
    box-shadow: 0 0 3px 3px  var(--rosa-oscuro);
}

.imagen-personal{
    height: 330px;
    width: 330px;
    margin: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    border-radius: 500px;
    box-shadow: 28px 22px 75px -14px var(--rosa-oscuro) ;
}

/* Fin sección presentación*/

/* Sección habilidades */
.container-de-habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.titulo{
    font-size: 40px;
}

.texto{
    margin-top: 20px;
    font-size: 16px;
    width: 40ch;
}

.conocimientos-columna-uno{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.conocimientos-columna-dos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.figuras-skills{
    outline: 2px solid var(--rosa);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    width: 250px;
    height: 250px;
    background-color: var(--blanco);
}

.figuras-skills:hover{
    outline-color: 4px var(--fucsia);
    color: var(--fucsia);
}

.nombres-skills{
    font-size: 17px;
}
/* Fin sección habilidades*/

/* Sección frase */
/*revisar este color*/
.contenedor-articulo{
    background: var(--lila);
    height: 545px;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    text-align: center;
    padding: 100px 0px;  
}

.frase{
    width: 55ch;
    font-size: 20px;  
}

.autor-de-la-frase{
    font-size: 25px;
}
/* Fin sección frase*/

/* Seccion Proyectos */
.contenedor-de-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
}

.titulo-mis-proyectos{
    font-size: 45px;
}

.parrafo-descriptivo{
    font-size: 15px;
    width: 40ch;
}

.mis-proyectos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 0 8%;
    row-gap: 20px
}

.figure-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    border: 2px solid var(--rosa-oscuro);
    border-radius: 15px;
    background-color: var(--blanco);
}

.figure-proyectos:hover{
    border: 2px solid var(--fucsia);
    color: var(--fucsia);
}

.imagenes-de-proyectos{
    width: 200px;
    height: 200px;
}

.nombre-de-los-proyectos{
    font-size: 17px;
}
/* Fin sección Proyectos*/

/* Sección Contacto */
.contacto-principal{
    display: flex;
    flex-direction: row;
    margin: 100px;
    gap: 100px;
    padding: 70px 70px;
    outline: 2px solid var(--color-bordes);
    border-radius: 20px;
    height: 600px;
    background-color: #fcf0ff ;
}

.redes-de-contacto{
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.seccion-contacto-titulo{
    font-size: 45px;
    
}

.lista-iconos-redes{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.iconos-de-contacto{
    padding: 0.5rem 0.5rem;
    border-radius: 50px;
    width: fit-content;
}

.iconos-de-contacto:hover .container-icono{
    background-color: var(--rosa-oscuro);
}

.iconos-de-contacto:hover .container-icono>i{
    color: var(--blanco);
}

.iconos-de-contacto:hover .nombres-de-redes{
    color: var(--rosa-oscuro);
}

.redes-de-contacto .iconos-de-contacto:active{
    box-shadow: 0 0 3px 3px var(--rosa);
}

.nombres-de-redes{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: var(--color-de-texto-principal);
}

.container-icono{
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 
}

.container-icono i{
    font-size: 1.4rem;
    color: var(--rosa);
}

.container-formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.formulario-campo{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.formulario-input{
    border: none;
    background-color: var(--color-fondo-input);
    border-radius: 20px;
    height: 30px;
    padding: 15px; 
    color: var(--color-de-texto-principal);
}

.formulario-input:focus{
    outline: 1px solid var(--color-focus);
    box-shadow: 0 0 3px 3px  var(--rosa);
}

.formulario-input:valid{
    outline: 1px solid var(--verde);
    box-shadow: 0 0 3px 3px  var(--verde);
}

.formulario-input:focus:invalid{
    outline: 1px solid var(--rojo);
    box-shadow: 0 0 3px 3px  var(--rojo);
}

.campo-nombre-y-apellido{
    display: flex;
    justify-content: space-between;
}
.campo-nombre-y-apellido label{
    flex-grow: 1;
}

.formulario-boton{
    width: 140px;
    height: 50px;
    color: var(--blanco);
    font-size: 17px;
    background-color: var(--rosa);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.formulario-boton:hover{
    background-color: var(--rosa-oscuro);
}

.formulario-boton:active{
    box-shadow: 0 0 3px 3px  var(--rosa-oscuro);
}

#mensaje-usuario{
    height: 150px;
}

::placeholder{
    color:var(--color-de-texto-secundario);
}
/* Fin sección Contacto*/

/* Seccion footer */

.pie-de-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    gap: 30px;
    padding: 60px;
    background-color: var(--lila);
    color: var(--blanco);
}

.lista-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}

.elemento-lista-footer{
    padding: 10px 15px;
}

.elemento-lista-footer:active{
    border: 1px solid var(--rosa-oscuro);
    border-radius: 50px;
    box-shadow: 0 0 2px 2px var(--rosa-oscuro);
}

.links-footer{
    text-decoration: none;
    color: var(--blanco);
    padding: 2px;
}

.iconos-footer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 1.4rem;
    list-style: none;
    color: var(--lila);
    cursor: pointer;
}

.pie-de-pagina .container-icono{
    background-color: white;
    color: var(--lila);
}

.pie-de-pagina .iconos-de-contacto:hover .container-icono{
    background-color: var(--rosa-oscuro);
}

.pie-de-pagina .iconos-de-contacto:hover .container-icono>i{
    color: var(--blanco);
}

.pie-de-pagina .iconos-de-contacto:active .container-icono{
    background-color: var(--rosa-oscuro);
    box-shadow: 0 0 1px 1px var(--blanco);
} 

